body {
    background-color: #ffffff;
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
}

/*reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*container*/
.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/*header*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404BBF;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*hero*/

.title-block {
    background-color: #2e2f42;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/people-office.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.title-block .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
}

.button-order-service {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    text-align: center;
    white-space: nowrap;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-order-service:hover,
.button-order-service:focus {
    background-color: #404bbf;
}

/*Our Features*/
.information-block {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    clip-path: inset(100%);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    white-space: nowrap;

}

.features-list {
    display: flex;
    justify-content: center;
    column-gap: 24px;
}

.features-item {
    width: 264px;
}

.section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.section-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.features-container {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Our Team*/
.team-block {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.team-info {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    gap: 8px;
    align-items: center;
}

.team-info-image {
    display: block;
    max-width: 100%;

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0 0 72px 0;
}

.team-card {
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-right: 24px;
    border-radius: 0 0 4px 4px
}

.team-card:last-child {
    margin-right: 0;
}

.team-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.team-position {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.card-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 264px;
}

.social-links {
    display: flex;
    gap: 24px;
    
}

.social-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon {
    fill: #f4f4fd;
}
.social-icon:hover,
.social-icon:focus {
    background-color: #404bbf;
}

/*Our Portfolio*/
.portfolio-block {
    padding: 120px 0;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0 0 72px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 48px 24px;
    list-style: none;
}

.portfolio-card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    width: calc((100% - 48px) / 3);
    cursor: pointer;
    box-shadow: none
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}
.portfolio-overlay {
    position: absolute;
    inset: 0;
    background-color: #4d5ae5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 32px;
    color: #fff;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay-text {
    color: #F4F4FD;
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.portfolio-card:hover,
.portfolio-card:focus {
box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover .portfolio-overlay,
.portfolio-card:focus .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-info {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #E7E9FC;
    border-top: none;

}

.portfolio-info-image {
    display: block;
    max-width: 100%;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

/*footer*/
.footer-logo-link {
    display: block;
    margin-bottom: 16px;
    color: #f4f4fd;
}
.footer-brand {
    display: flex;
    flex-direction: column;
}
.logo-part-web {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
}
.logo-part-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
}
.page-footer {
    background-color: #2E2F42;
    padding: 100px 0;
}
.logo-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    width: 264px;
    color: #F4F4FD;
    margin-bottom: 16px;
}
.footer-container {
    display: flex;
    align-items: baseline;
    gap: 120px;
}
.social-media {
    display: flex;
    flex-direction: column;
}
.social-media-links {
    display: flex;
        gap: 16px;
        margin-top: 16px;
}
.social-media-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
    
}
.footer-social-icon {
    width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #4d5ae5;
        fill: #fff;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.footer-social-icon:hover,
.footer-social-icon:focus {
    background-color: #31d0aa;
}


